.app__countries {
}

.app__countries-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.app__countries-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.app__countries-form {
}

.form {
  max-width: 250px;
  margin: 0 auto 40px;
}

.form__input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.app__countries-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.app__loading {
  text-align: center;
  font-size: 25px;
}

.app__countries-btn {
  padding: 10px 15px;
  font-size: 17px;
  border: none;
  color: #fff;
  background-color: rgb(12, 35, 58);
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.app__countries-btn:hover {
  background-color: rgb(20, 54, 88);
}
